@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-main-gradient {
        background: linear-gradient(
            0deg,
            #d94e06 0%,
            #ff5500 38%,
            #ff8548 100%
        );
    }
    .bg-button-gradient {
        background: linear-gradient(
            180deg,
            rgba(5, 5, 5, 0) 0%,
            rgba(5, 5, 5, 1) 92%
        );
    }
}

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        font-family: "Manrope", sans-serif;
    }

    :root {
        /* GoalPlanner Color Scheme */
        --vibrant-orange: 20 95% 44%; /* #D94E06 */
        --input-bg: 13 23% 19%; /* #3D2B26 */
        --modal-bg: 14 42% 10%; /* #25140F */
        --deep-bg: 14 68% 6%; /* #1A0A05 */
        --landing-bg: 0 0% 2%; /* #050505 */
        --lading-modal-bg: 0 0% 0%; /* #000000 */
        --white-pearl: 46 46% 189%; /* #F0EAD6 */
        --sea-green: 146 50% 36%; /* #2EBB57 */
        --royal-blue: 217 76% 50%; /* #1F6AE1 */
        --yellow: 46 94% 56%; /* #F0E23A */
        --carmin: 6 63% 46%; /* #C0392B */
        --progress-empty: 240 4% 16%; /* #27272A */
        --input-text: 215 20% 65%; /* #94A3B8 */
        --main-gradient: linear-gradient(
            90deg,
            #d94e06 0%,
            #ff5500 38%,
            #ff8548 100%
        );
        --title-font: "Montserrat";
        --text-font: "Manrope";
    }

    /* Ajustes para pantallas HDR */
    @media (dynamic-range: high) {
        :root {
            --vibrant-orange: 20 75% 42%;
            --main-gradient: linear-gradient(
                90deg,
                hsl(20, 75%, 42%) 0%,
                hsl(20, 85%, 50%) 38%,
                hsl(20, 80%, 55%) 100%
            );
        }

        .bg-vibrant-orange {
            background-color: hsl(20, 75%, 42%) !important;
        }

        .text-vibrant-orange {
            color: hsl(20, 75%, 42%) !important;
        }

        .border-vibrant-orange {
            border-color: hsl(20, 75%, 42%) !important;
        }
    }

    input[type="date"]::-webkit-datetime-edit-text,
    input[type="date"]::-webkit-datetime-edit-month-field,
    input[type="date"]::-webkit-datetime-edit-day-field,
    input[type="date"]::-webkit-datetime-edit-year-field {
        color: hsl(var(--input-text));
    }

    input[type="date"] {
        color-scheme: dark;
    }
}
