@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* GoalPlanner Color Scheme */
        --vibrant-orange: 20 95% 44%; /* #D94E06 */
        --input-bg: 13 23% 19%; /* #3D2B26 */
        --modal-bg: 14 42% 10%; /* #25140F */
        --deep-bg: 14 68% 6%; /* #1A0A05 */
        --landing-bg: 0 0% 2%; /* #050505 */
        --lading-modal-bg: 0 0% 0%; /* #000000 */
        --white-pearl: 46 46% 189%; /* #F0EAD6 */
        --sea-green: 146 50% 36%; /* #2EBB57 */
        --royal-blue: 217 76% 50%; /* #1F6AE1 */
        --carmin: 6 63% 46%; /* #C0392B */
        --main-gradient: linear-gradient(
            0deg,
            #d94e06 0%,
            #ff5500 38%,
            #ff8548 100%
        );
        --title-font: "Montserrat";
        --text-font: "Manrope";
    }
}
